/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body {
    width: 1440px;
    margin: auto;
}

/******** EN-TÊTE *******/

header{
    display: flex;
    justify-content: space-between;
    height: 79px;
}

.Logo img {
    width: 61.09px;
    height: 19px;
    position: relative;
    top: 30px;
    
}

.navbar {
    width: 244px;
}

.nav-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -5px;
    padding: 0px;
    margin-top: 5px;
}

.nav-hébergements , .nav-activités {
    border-top: 2px solid transparent;
    height: auto;
    padding-top: 5px;
}

.nav-hébergements:hover,.nav-activités:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    margin-top: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/******** HEADLINE ********/

.headline h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.headline p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/****** BARRE DE RECHERCHE ******/

.search_bar {
    width: 377px;
    height: 49px;
}

.search {
    border: none;
    padding-left: 24px;
    padding-right: 24px;
    outline: none;
}

.boutons {
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    margin-top: 35px;
}

.search::placeholder {
    color: rgb(0, 0, 0);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.submit {
    color: rgb(255, 255, 255);
    background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    height: 50px;
    width: 132px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.icone {
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

.icone i {
    position: relative;
    left: 18px;
    top: 15px;
    color: black;
}

/****** FILTERS BAR ******/
a {
    text-decoration: none;
    color: black;
}
.filterbar {
    display: flex;
    justify-content: space-between;
    width: 758px;
    height: 50px;
    margin-top: 35px;
}

.filterbar h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    /*margin: auto;*/
}

.économique, .familial, .romantique, .pépites {
    display: flex;
    border: 2px solid #D9D9D9;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 50px;

}

.économique:hover, .familial:hover, .romantique:hover, .pépites:hover {
    background-color: #DEEBFF;
}

.filterbar i {
    position: relative;
    top: 14px;
    padding-right: 10px;
}

/****** INFO BARRE ******/

.infobar {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    margin-top: 50px;
}

.infobar p {
    margin: auto;
    margin-left: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.icone_info {
    border: 1px solid #D9D9D9;
    height: 24px;
    width: 24px;
    margin: 0px;
    border-radius: 12px;
}

.fa-solid.fa-info {
    color: #0065FC;
    margin-top: 3px;
    margin-left: 9px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/****** CARTES HÉBERGEMENTS ******/

 /*a {
    border: 3px solid black;
 }*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.card, .cards {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.cards {
    width: 30%;
}

.card_hébergements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img, .cards img {
    object-fit: cover;
}

.cards img {
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.cards h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cards a {
    display: block;
    /*border: 2px solid blue;*/
}

.stars {
    margin-bottom: 10px;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

#neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}